In [1]:
import pandas as pd
import numpy as np
import seaborn as sbs
from sklearn.linear_model import Ridge
from sklearn.metrics import mean_squared_error

In [2]:
df = pd.read_csv("C:\\Users\\silviu\\OneDrive\\Desktop\\car-price.csv")
df

,Make,Model,Year,Engine Fuel Type,Engine HP,Engine Cylinders,Transmission Type,Driven_Wheels,Number of Doors,Market Category,Vehicle Size,Vehicle Style,highway MPG,city mpg,Popularity,MSRP
0,BMW,1 Series M,2011,premium unleaded (required),335.0,6.0,MANUAL,rear wheel drive,2.0,"Factory Tuner,Luxury,High-Performance",Compact,Coupe,26,19,3916,46135
1,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Convertible,28,19,3916,40650
2,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,High-Performance",Compact,Coupe,28,20,3916,36350
3,BMW,1 Series,2011,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Coupe,28,18,3916,29450
4,BMW,1 Series,2011,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2.0,Luxury,Compact,Convertible,28,18,3916,34500
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11909,Acura,ZDX,2012,premium unleaded (required),300.0,6.0,AUTOMATIC,all wheel drive,4.0,"Crossover,Hatchback,Luxury",Midsize,4dr Hatchback,23,16,204,46120
11910,Acura,ZDX,2012,premium unleaded (required),300.0,6.0,AUTOMATIC,all wheel drive,4.0,"Crossover,Hatchback,Luxury",Midsize,4dr Hatchback,23,16,204,56670
11911,Acura,ZDX,2012,premium unleaded (required),300.0,6.0,AUTOMATIC,all wheel drive,4.0,"Crossover,Hatchback,Luxury",Midsize,4dr Hatchback,23,16,204,50620
11912,Acura,ZDX,2013,premium unleaded (recommended),300.0,6.0,AUTOMATIC,all wheel drive,4.0,"Crossover,Hatchback,Luxury",Midsize,4dr Hatchback,23,16,204,50920
11913,Lincoln,Zephyr,2006,regular unleaded,221.0,6.0,AUTOMATIC,front wheel drive,4.0,Luxury,Midsize,Sedan,26,17,61,28995

In [3]:
df = df[['Make','Model','Year','Engine HP','Engine Cylinders','Transmission Type','Vehicle Style','highway MPG','city mpg','MSRP']]
df

,Make,Model,Year,Engine HP,Engine Cylinders,Transmission Type,Vehicle Style,highway MPG,city mpg,MSRP
0,BMW,1 Series M,2011,335.0,6.0,MANUAL,Coupe,26,19,46135
1,BMW,1 Series,2011,300.0,6.0,MANUAL,Convertible,28,19,40650
2,BMW,1 Series,2011,300.0,6.0,MANUAL,Coupe,28,20,36350
3,BMW,1 Series,2011,230.0,6.0,MANUAL,Coupe,28,18,29450
4,BMW,1 Series,2011,230.0,6.0,MANUAL,Convertible,28,18,34500
...,...,...,...,...,...,...,...,...,...,...
11909,Acura,ZDX,2012,300.0,6.0,AUTOMATIC,4dr Hatchback,23,16,46120
11910,Acura,ZDX,2012,300.0,6.0,AUTOMATIC,4dr Hatchback,23,16,56670
11911,Acura,ZDX,2012,300.0,6.0,AUTOMATIC,4dr Hatchback,23,16,50620
11912,Acura,ZDX,2013,300.0,6.0,AUTOMATIC,4dr Hatchback,23,16,50920
11913,Lincoln,Zephyr,2006,221.0,6.0,AUTOMATIC,Sedan,26,17,28995

In [4]:
df.columns = df.columns.str.replace(" ","_").str.lower()
df.columns

Index(['make', 'model', 'year', 'engine_hp', 'engine_cylinders',
       'transmission_type', 'vehicle_style', 'highway_mpg', 'city_mpg',
       'msrp'],
      dtype='object')

In [5]:
df = df.fillna(0)
df.isna().sum()

make                 0
model                0
year                 0
engine_hp            0
engine_cylinders     0
transmission_type    0
vehicle_style        0
highway_mpg          0
city_mpg             0
msrp                 0
dtype: int64

In [6]:
df  = df.rename(columns = {'msrp':"price"})
df

,make,model,year,engine_hp,engine_cylinders,transmission_type,vehicle_style,highway_mpg,city_mpg,price
0,BMW,1 Series M,2011,335.0,6.0,MANUAL,Coupe,26,19,46135
1,BMW,1 Series,2011,300.0,6.0,MANUAL,Convertible,28,19,40650
2,BMW,1 Series,2011,300.0,6.0,MANUAL,Coupe,28,20,36350
3,BMW,1 Series,2011,230.0,6.0,MANUAL,Coupe,28,18,29450
4,BMW,1 Series,2011,230.0,6.0,MANUAL,Convertible,28,18,34500
...,...,...,...,...,...,...,...,...,...,...
11909,Acura,ZDX,2012,300.0,6.0,AUTOMATIC,4dr Hatchback,23,16,46120
11910,Acura,ZDX,2012,300.0,6.0,AUTOMATIC,4dr Hatchback,23,16,56670
11911,Acura,ZDX,2012,300.0,6.0,AUTOMATIC,4dr Hatchback,23,16,50620
11912,Acura,ZDX,2013,300.0,6.0,AUTOMATIC,4dr Hatchback,23,16,50920
11913,Lincoln,Zephyr,2006,221.0,6.0,AUTOMATIC,Sedan,26,17,28995

In [7]:
df.transmission_type.value_counts()[:1]
#Automatic is the most common transimission type(I also love it)

AUTOMATIC    8266
Name: transmission_type, dtype: int64

In [8]:
df.dtypes

make                  object
model                 object
year                   int64
engine_hp            float64
engine_cylinders     float64
transmission_type     object
vehicle_style         object
highway_mpg            int64
city_mpg               int64
price                  int64
dtype: object

In [9]:
numerical = ['year','engine_hp','engine_cylinders','highway_mpg','city_mpg']
categorical = ['make','model','transmission_type','vehicle_style']
correlation_matrix = df[numerical].corr()
correlation_matrix[correlation_matrix == correlation_matrix[correlation_matrix <1].max()[-1]]
#highway_mpg and city_mpg are the most correlated features

                  year  engine_hp  engine_cylinders  highway_mpg  city_mpg
year               NaN        NaN               NaN          NaN       NaN
engine_hp          NaN        NaN               NaN          NaN       NaN
engine_cylinders   NaN        NaN               NaN          NaN       NaN
highway_mpg        NaN        NaN               NaN          NaN  0.886829
city_mpg           NaN        NaN               NaN     0.886829       NaN

In [10]:
corr_mat = df[numerical].corr(method='pearson')
corr_mat[corr_mat < 1].unstack().sort_values().dropna()[-1::]
#Another method which seems more elegant

city_mpg  highway_mpg    0.886829
dtype: float64

In [11]:
#Making the classification variable binary
df['above_average'] = (df.price > df.price.mean()).astype(int)
df

,make,model,year,engine_hp,engine_cylinders,transmission_type,vehicle_style,highway_mpg,city_mpg,price,above_average
0,BMW,1 Series M,2011,335.0,6.0,MANUAL,Coupe,26,19,46135,1
1,BMW,1 Series,2011,300.0,6.0,MANUAL,Convertible,28,19,40650,1
2,BMW,1 Series,2011,300.0,6.0,MANUAL,Coupe,28,20,36350,0
3,BMW,1 Series,2011,230.0,6.0,MANUAL,Coupe,28,18,29450,0
4,BMW,1 Series,2011,230.0,6.0,MANUAL,Convertible,28,18,34500,0
...,...,...,...,...,...,...,...,...,...,...,...
11909,Acura,ZDX,2012,300.0,6.0,AUTOMATIC,4dr Hatchback,23,16,46120,1
11910,Acura,ZDX,2012,300.0,6.0,AUTOMATIC,4dr Hatchback,23,16,56670,1
11911,Acura,ZDX,2012,300.0,6.0,AUTOMATIC,4dr Hatchback,23,16,50620,1
11912,Acura,ZDX,2013,300.0,6.0,AUTOMATIC,4dr Hatchback,23,16,50920,1
11913,Lincoln,Zephyr,2006,221.0,6.0,AUTOMATIC,Sedan,26,17,28995,0

In [12]:
from sklearn.model_selection import train_test_split
df_full_train,df_test = train_test_split(df,test_size = 0.2, random_state=42)
df_train,df_val = train_test_split(df_full_train, test_size=0.25, random_state=42)

y_full_train = df_full_train.above_average.values
y_train = df_train.above_average.values
y_val = df_val.above_average.values
y_test = df_test.above_average.values

len(df_full_train),len(df_test),len(df_val),len(df_train),len(y_full_train),len(y_train),len(y_val),len(y_test)

(9531, 2383, 2383, 7148, 9531, 7148, 2383, 2383)

In [13]:
df_train = df_train.drop(['price','above_average'],axis=1)
df_test = df_test.drop(['price','above_average'],axis=1)
df_val = df_val.drop(['price','above_average'],axis=1)
df_test

,make,model,year,engine_hp,engine_cylinders,transmission_type,vehicle_style,highway_mpg,city_mpg
3995,GMC,Envoy XL,2005,275.0,6.0,AUTOMATIC,4dr SUV,18,13
7474,Volkswagen,Passat,2016,170.0,4.0,AUTOMATIC,Sedan,38,25
7300,Honda,Odyssey,2016,248.0,6.0,AUTOMATIC,Passenger Minivan,28,19
3148,Chevrolet,Cruze,2015,138.0,4.0,MANUAL,Sedan,36,25
747,Volvo,740,1991,162.0,4.0,AUTOMATIC,Sedan,20,17
...,...,...,...,...,...,...,...,...,...
267,Nissan,350Z,2007,306.0,6.0,MANUAL,Convertible,24,17
4320,Ford,Expedition,2016,365.0,6.0,AUTOMATIC,4dr SUV,20,15
5799,Acura,ILX,2015,150.0,4.0,AUTOMATIC,Sedan,35,24
6080,Volkswagen,Jetta SportWagen,2014,170.0,5.0,MANUAL,Wagon,33,23
11511,BMW,X5,2015,255.0,6.0,AUTOMATIC,4dr SUV,31,24

In [14]:
#Feature importance
from sklearn.metrics import mutual_info_score
mutual_info_scores = {}

for c in categorical:
    
    mi = mutual_info_score(df_full_train.above_average,df_full_train[c])
    mutual_info_scores[c] = round(mi,2)

mutual_info_scores = pd.Series(mutual_info_scores)
mutual_info_scores[mutual_info_scores == mutual_info_scores.min()]

#transmission type has the lowest mutual info score

transmission_type    0.02
dtype: float64

In [15]:
#One-hot-encoding
from sklearn.feature_extraction import DictVectorizer
dv = DictVectorizer(sparse=False)

train_dict = df_train[categorical + numerical].to_dict(orient = 'records')
X_train = dv.fit_transform(train_dict)

val_dict = df_val[categorical + numerical].to_dict(orient = 'records')
X_val = dv.transform(val_dict)

In [16]:
# Logistic regression
from sklearn.linear_model import LogisticRegression
model = LogisticRegression(solver='liblinear',C=10, max_iter=1000,random_state=42)
model.fit(X_train,y_train)

LogisticRegression(C=10, max_iter=1000, random_state=42, solver='liblinear')

In [17]:
#Calculating the accuracy of the validation dataset
y_pred = model.predict_proba(X_val)[:,1].round(3)
above_average = (y_pred > 0.5)
(y_val == above_average).mean().round(2)
# 95 % accurracy

0.95

In [18]:
#Using the accuracy score of sklearn
from sklearn.metrics import accuracy_score
acc = accuracy_score(y_val,y_pred>0.5).round(2)
acc

0.95

In [19]:
def new_model(feature):
    
    X = df.drop([feature,'price','above_average'],axis = 1)
    y = df['above_average']
    
    X_train, X_test, y_train, y_test = train_test_split(X,y, test_size = 0.4, random_state = 42)
    X_test, X_val, y_test, y_val = train_test_split(X_test,y_test, test_size = 0.5, random_state = 42)
    
    train_dict = X_train.to_dict(orient = 'records') 
    dv = DictVectorizer(sparse = False)
    X_train = dv.fit_transform(train_dict)
    
    val_dict = X_val.to_dict(orient='records')
    X_val = dv.transform(val_dict)
    model = LogisticRegression(solver='liblinear',C=10, max_iter=1000,random_state=42)
    model.fit(X_train,y_train)
    y_pred = model.predict_proba(X_val)[:,1]
    acc = accuracy_score(y_val,y_pred >= 0.5)
    return acc

In [20]:
scores_without_feature = {}
for col in df.iloc[:,:-2].columns:
    scores_without_feature[col] = (acc - new_model(col))
scores_without_feature

{'make': -0.0017415023080151748,
 'model': 0.032249265631556834,
 'year': -0.0013218631976500417,
 'engine_hp': 0.01756189676877884,
 'engine_cylinders': -0.0017415023080151748,
 'transmission_type': 0.0062316407889214664,
 'vehicle_style': 0.032249265631556834,
 'highway_mpg': -0.00048258497691988644,
 'city_mpg': 0.0032941670163658676}

In [21]:
df.price = np.log1p(df.price)
df = df.drop(['above_average'],axis=1)

In [22]:
#Splitting the dataset
df_train_full, df_test = train_test_split(df,test_size = 0.2,random_state = 42)
df_train,df_val = train_test_split(df_train_full,test_size=0.25,random_state=42)
df_train = df_train.reset_index(drop = True)
df_test = df_test.reset_index(drop = True)
df_val = df_val.reset_index(drop = True)
y_train = df_train.price.values
y_test = df_test.price.values
y_val = df_val.price.values

In [23]:
df_train = df_train.drop(['price'],axis = 1)
df_test = df_test.drop(['price'],axis = 1)
df_val = df_val.drop(['price'],axis = 1)
len(df_train),len(df_val),len(df_test)

(7148, 2383, 2383)

In [24]:
train_dict = df_train.to_dict(orient='records')
dv = DictVectorizer(sparse=False)
dv.fit(train_dict)
X_train = dv.transform(train_dict)

val_dict = df_val.to_dict(orient='records')
X_val = dv.transform(val_dict)

In [25]:
#Implementation of Ridge Regression
for a in [0,0.01,0.1,1,10]:
    model = Ridge(alpha=a, solver="sag", random_state =42)
    model.fit(X_train,y_train)
    y_pred = model.predict(X_val)
    score = np.sqrt(mean_squared_error(y_val,y_pred))
    print(a,round(score,9))

0 0.49400983
0.01 0.494009984
0.1 0.494011369
1 0.494025221
10 0.49425041